h1{color:#2A8DFF;font-family: 'Libre Barcode 39 Extended Text', cursive;margin: 2em 1em 0.5em 2em;font-size: 50px;}
p{font-family: 'Roboto', sans-serif;margin:2em 1em 0.5em 2em; }
a{color: #007aff;}
body{background-color: #F4F4F4;}